body {
    font-family: "Montserrat", sans-serif;
    background-color:rgba(255, 255, 255, 0.445);
  }

  body:hover {
    background: white;
    transition: 1s;
}
  
#noSignalVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(3px);
  }

  p {
    font-size: 25px;
  }

  .card-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
  }
  
  .card {
    width: 700px;
    height: 450px;
    background-color: #fff;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    transition: transform 1s;
  }
  
  .card-wrapper:hover .card {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
  }
  
  .card-front {
    display: flex;
    background: linear-gradient(
      100deg,
      rgb(255, 255, 255) 40%,
      #0a375e 0
    );
  }
  
  .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left img {
    width: 70%;
  }
  
  .left h4 {
    margin: 10px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  .left span {
    text-transform: uppercase;
    color: #0d5692;
  }
  
  .right {
    width: 60%;
    color: #fff;
  }
  

  h4 {
    font-size: 23px;
    margin-top: 20px;
  }

  .right-content {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .person {
    background-color: #1187ac;
    padding: 5px 0 5px 30px;
    margin: 30px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .right-content i {
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1187ac;
    margin-right: 20px;
  }
  
  .person h4 {
    text-transform: uppercase;
  }
  
  .phone {
    padding-left: 30px;
  }
  
  .email {
    padding-left: 20px;
  }
  
  .address {
    padding-left: 10px;
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-back img {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .userVideoBox video{
    height: auto;
    width: 350px;
    border-radius: 20px;
    filter: blur(3px);
  }

  h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      color: #0d5692;
      font-weight: bolder;
      position: absolute;
      bottom: 6vh;
  }


  .appNameVideo {
    position: absolute;
    z-index: 7;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 125px;
    opacity: 0.8;
    top: 22vh;
    left: 25%;
    letter-spacing: -2px;
    text-align: center;
  }

.mobileBack {
  display: none;
}

.confirmedButton {
  position: fixed;
  width: auto;
  height: auto;
  border-radius: 20px;
  z-index: 20;
  bottom: 10vh;
  right: 10%;
  color: white;
  font-size: 60px;
  padding: 20px;
  opacity: 0.2;
  cursor: pointer;
}

.confirmedButton:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 2);
  backdrop-filter: blur(20px);
  transition: 1s;
  opacity: 0.8;
  cursor: pointer;
}

  @media screen and (max-width: 730px) {
    .card {
      width: 350px;
      height: 360px;
      margin: 0;
      padding: 0;
    }
    #user_name{
      font-size: 20px;
    }
    #email_address {
      font-size: 10px;
    }

    #role {
      font-size: 18px;
    }

      h4 {
        font-size: 15px;
      }

      .right-content i {
        width: 25px;
        height: 25px;
      }


      .mobileAppNameVideo {
        position: absolute;
        z-index: 7;
        color: #0d5692;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 125px;
        opacity: 0.8;
        top: 20vh;
        left: 25%;
        letter-spacing: -2px;
        text-align: center;
      }
    
      .userVideoBox video{
        height: auto;
        width: 250px;
       
      }
    
      h3 {
     display: none;
      
      }
    
      .appNameVideo {
        position: absolute;
        z-index: 7;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 95px;
        opacity: 0.8;
        top: 19vh;
        left: 13%;
        letter-spacing: -2px;
        text-align: center;
      }

      .confirmedButton {
        font-size: 25px;
        opacity: 0.7;
        right: 5%;
        width: auto;
        height: auto;
        bottom: 20vh;
      }
      
      .confirmedButton:hover {
        box-shadow: 0 10px 20px rgba(255, 255, 255, 2);
      }      

  }

  @media screen and (min-width: 2000px) {
    .card {
      width: 800px;
      height: 460px;
    }
  }