body {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 5%;
}

#userMessage {
  text-align: center;
  color: black;
  
}

.role {
    font-size: 15px;
}

.boxes {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

a.navbar-brand {
  color: white;
}

a.box {
  color: rgb(22, 21, 21);
  background-color: white;
  width: 100%;
  height: 10%;
  border: 2px solid #4e4e4e;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 0;
}

a.box:hover {
  min-width: 100%;
  height: 10%;
  background-color: rgb(88, 213, 255);
  color: white;
  border-color: #4e4e4e;
  margin-bottom: 0;
}

#createProjectButton {
  text-align: center;
  display: block;
}

#create-btn-tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
} 


.bi-x {
  color: gray;
  position: absolute; 
  top: 55px;
  left: 60px;
}

.bi-x:hover {
  color:rgb(206, 43, 43);   
}



.nav-link {
  cursor: pointer;
}