body {
    background-color: white;
    color: black;
    margin-bottom: 10%;
}

#editTable {
    max-width: 100%;
}


#commentArea>h2 {
    
    padding: 5px;
}

.comment-user {
    color:#2673A9;
    font-size: 13px;
    margin-bottom: 7px;
}

.time{
font-size: 10px;
color: gray
}

.message-row {
    border-bottom: gray 1px dotted;
    padding: 10px;
    margin-top: 10px;
}

#commentForm {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    min-width: 100%;
}

.bi-x-lg {
    font-size: 15px;
    text-align: right;
    left: 90%;
}

.commentDetails {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;

}

#issue-form-editing{
    margin-top: 5%;
    padding: 5%;
    font-size: 13px;
    border: 2px solid gray;
}

.editHeading>h3 {
    text-align: center;
    font-size: 25px;
}

.editHeading>p {
    text-align: center;
    font-size: 10px;
    margin-bottom: 10%;
}

.nav-link {
    cursor: pointer;
}