body {
    background-color: white;
    margin-bottom: 10%;
    color: black;
}

form#issue-form {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    max-width: 80%;
    padding: 5% 10% 5% 10%;
    margin: 5% 10% 5% 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: solid 5px rgb(255, 255, 255);
    box-shadow: white 1px 1px 10px;
}; 

.btn-primary {
    margin: 50px;
    min-width: 100%;
}

