body {
    background-color: white;
    color: black;
}


#issueTitle {
    font-weight: bold;
}


.issueRow {
    display: flex;
    flex-direction: column;
    /* display: block; */
    border-bottom: 1px dotted gray;
    padding: 10px;
    
}

.usernameDiv {
    font-size: 14px;
    color: #2673A9;
}

.icon {
    font-size: 15px;
    color: gray;
    margin: 2px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.issueDetailDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon.fa-trash-alt:hover {
    color: indianred;
}

.icon.fa-edit:hover {
    color: indianred;
}

.nav-link {
    cursor: pointer;
}




