body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.card {
    border: 1px solid white;
    margin: 5% 10%;
    background-color: #0E1926;
    color: white;
    box-shadow: white 1px 1px 10px;

}

label { 
    color: white;
    display: inline-block;
    margin-top: 3%;
}

.projectContent {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.input {
    margin-bottom: 3%;
}

.issueListLink {
    color: rgb(88, 213, 255); 
    font-weight: bolder;
    font-size: 14px;
    margin-top: 5%;
    text-align: right;
}

.nav-link {
    cursor: pointer;
}