body {
    background-color: white;
    margin-bottom: 10%;
}

form#projectForm {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    padding: 5% 10% 5% 10%;
    margin: 5% 10% 5% 10;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: solid 5px rgb(255, 255, 255);
    box-shadow: white 1px 1px 10px;
}; 


.nav-link {
    cursor: pointer;
}