/* nav bar = #454d66
text = #999999
important = #4e4e4e
body background (if have) = #fbfbea
item bar = #b3b9cb
hover = #309773 */

.fa-trash-alt:hover{
    color:blue;
    -webkit-filter: invert(10%);
    filter: invert(100%);
}
.fa-money-check-edit:hover{
    color: #f00;
    -webkit-filter: invert(10%);
    filter: invert(100%);
}



a#navBarLink  {
    color: white;
    font-family: 'Nunito', sans-serif;
}

.text {
    color: #999999;
    font-family: 'Nunito', sans-serif;
}

.navbar.navbar-expand-lg.navbar-light {
    background: #454d66;
}

ul#dropdown-menu {
    min-width: 20rem;
    height: auto;
    font-family: 'Nunito', sans-serif;
}

li>a.dropdown-item {
    padding: 20px 20px 20px;
}



label {
    font-weight: bold;
}

textarea#project-description {
    width: 20rem;
    height: 20rem;
}

button#submit-btn {
    margin: 40px;
    min-width: 100%;
}

form#issue-form {
    font-family: 'Nunito', sans-serif;
    padding: 5vh 10vh 5vh 10vh;
    
  }

  .logout:hover {
    cursor: pointer;
  }

  .nav-link {
      cursor: pointer;
  }