body {
    overflow-y: hidden; 
    overflow-x: hidden; 
    background-color: black;
}

body:hover {
    background: white;
    transition: 1s;
}

#noSignalVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(3px);
  }

  #word1 {
    z-index: 9;
      position: fixed;
      font-size: 60px;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      text-align: center;
      width: 950px;
      top: 11vh;
  }

  #word{
      z-index: 9;
      position: fixed;
      font-size: 80px;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      text-align: center;
      top: 28vh;
  }
  

  .cont {
    overflow: hidden;
    position: relative;
    width: 950px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20%;
    right: 20%;
    top: 10vh;
    bottom: 10vh;
    backdrop-filter: blur(30px);
    animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

@media screen and (max-width: 991px) {


    .cont {
        width: 100%;
        height: 500px;
        left: 0%;
    right: 0%;
    top: 20vh;
    position: absolute;
    }

    #word1 {
        font-size: 18px;
        top: 10vh;
        width: 300px;
        position: fixed;
    }

    #word {
        font-size: 25px;
        top: 20vh;
        width: 300px;
        position: fixed;
    }

}

@keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }