
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

    background-color: #454d66;
    color: white;
    padding: 10px;
}

.navBar:focus {
    text-decoration: none;
}


.loginButton {
    width: 100%;
    margin-top: 10px;
}

.loginButton:hover {
    background-color: #454d66;
    color: white;
}

#user {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    border: solid 3px #454d66;
    margin: 20px;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
}