/* nav bar = #454d66
text = #999999
important = #4e4e4e
body background (if have) = #fbfbea
item bar = #b3b9cb
hover = #309773 */

.fa-trash-alt:hover{
    color:blue;
    -webkit-filter: invert(10%);
    filter: invert(100%);
}
.fa-money-check-edit:hover{
    color: #f00;
    -webkit-filter: invert(10%);
    filter: invert(100%);
}

a.box {
    color: #999999;
    background: #fbfbea;
    width: 8vw;
    height: 20vh;
    padding: 10px 10px 10px;
    margin: 4vw 4vw 4vw;
    border-radius: 10px 10px 10px;
    text-decoration: none;   

    display: flex;
    justify-content: center;
    align-items: center;
}

a#navBarLink  {
    color: white;
    font-family: 'Nunito', sans-serif;
}

a.box:hover {
    width: 8.3vw;
    height: 20.5vh;
    transition-duration: 0.3s;  
    box-shadow: rgba(147, 154, 170, 0.411) 1px 1px 10px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.text {
    color: #999999;
    font-family: 'Nunito', sans-serif;
}

.subtitle {
    color: #4e4e4e;
    font-family: 'Nunito', sans-serif;
}

#welcomeMessage {
    color:#4e4e4e;
    font-size: 30px;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.navbar.navbar-expand-lg.navbar-light {
    background: #454d66;
}

ul#dropdown-menu {
    min-width: 20rem;
    height: auto;
    font-family: 'Nunito', sans-serif;
}

li>a.dropdown-item {
    padding: 20px 20px 20px;
}

.bi-plus-circle-fill {
    color: #6495ed;
    font-size: 3em;   
}

.createButton {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 5%;
    left: 93%;
}

.bi-plus-circle-fill:hover {
    color: rgb(29, 103, 240);
}

#create-btn-tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
  }



form#issue-form {
    font-family: 'Nunito', sans-serif;
    padding: 5vh 10vh 5vh 10vh;
    
}

label {
    font-weight: bold;
}

textarea#project-description {
    width: 20rem;
    height: 20rem;
}

button#submit-btn {
    margin: 40px;
}


.project {
    position: relative;
}

.bi-x {
    color: gray;
    position: absolute; 
    top: 55px;
    left: 60px;
}

.bi-x:hover {
    color:rgb(206, 43, 43);   
}
